<div class="mt-25">

  <app-formpt1></app-formpt1>

  <div class="field has-text-centered mt-25">
    <h1 class="is-size-5">Select your tools and ingredients below</h1>
    <hr>
  </div>

  <!-- Dropdown Down -->
  <app-formpt2></app-formpt2>
  

  <hr class="mt-25">

  <div class="columns mt-25">
    <h1 class="title is-size-4 has-text-centered column">Recipe Steps</h1>
  </div>

  <hr>
  
  <app-formpt3></app-formpt3>

  <div class="field is-grouped mt-25">
    <div class="control">
      <button (click)="postRecipe()" class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-text">Cancel</button>
    </div>
  </div>


</div>