<div class="field is-grouped">
  <div class="control">
    <div class="select">
      <select [(ngModel)]="tool">
        <option>Select Dropdown</option>
        <option *ngFor="let item of reqTools" [ngValue]="item">{{ item }}</option>
      </select>
    </div>
  </div>

  <div class="control">
    <button (click)="addTools()" class="button is-info is-outlined is-rounded">Add</button>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <div class="select">
      <select [(ngModel)]="ingredient">
        <option>Select Dropdown</option>
        <option *ngFor="let item of reqIngredients" [ngValue]="item">{{ item }}</option>
      </select>
    </div>
  </div>

  <div class="control">
    <button (click)="addIngredients()" class="button is-info is-outlined is-rounded">Add</button>
  </div>
</div>


<div class="field">
  <a class="tag is-light is-size-7">Don't See What You're Looking For?</a>
</div>

<div class="field">
  <div class="columns">

    <div class="column">
      <h1>Tools:</h1>
      <p *ngIf="toolsTable.length == 0" class="">(none)</p>

      <div *ngFor="let item of toolsTable">
        <p class="tag">{{item}}</p>
        <br />
      </div>
    </div>

    <div class="column">
      <h1 class="">Ingredients</h1>
      <p *ngIf="ingredientsTable.length == 0" class="">(none)</p>

      <div *ngFor="let item of ingredientsTable">
        <p class="tag">{{item}}</p>
        <br />
      </div>
    </div>

  </div>
</div>