<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input [(ngModel)]="authorName" class="input" type="text" placeholder="Name" required>
  </div>
</div>

<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input [(ngModel)]="recipeTitle" class="input" type="text" placeholder="Title" required>
  </div>
</div>

<div class="field">
  <label class="label">Description</label>
  <div class="control">
    <textarea [(ngModel)]="recipeDesc" class="textarea" placeholder="Recipe Description"></textarea>
  </div>
</div>