<div class="hero is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-multiline">

        <div class="column is-12 is-vcentered">
          <h1 class="title is-size-1 has-text-centered">Food Share</h1>
        </div>

        <div class="column is-12">
          <h2 class="subtitle is-size-4 has-text-centered">Share your recipe ideas!</h2>

          <div class="columns is-12">
            <div class="column has-text-centered">
              <a routerLink="/create-recipe" class="button is-medium is-outlined is-info is-rounded">Create Recipe</a>
            </div>
          </div>

          <div class="columns is-12">
            <div class="column has-text-centered">
              <a routerLink="/recipes" class="button is-medium is-outlined is-info is-rounded">View Recipes</a>
            </div>
          </div>
        </div>



      </div>

    </div>
  </div>
</div>